.app {
  height: 100vh;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    height: 200vh;
    overscroll-behavior-y: auto;
  }
}
