div.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
div.logo h1{
  background-image: linear-gradient(to right, var(--color-brand--1), var(--color-brand--2), var(--color-brand--3));
  background-clip: text;
  color: transparent;
}

.link{
  text-decoration: none;
}

.logoIcon{
  height: 6rem;  
}