.message {
  text-align: center;
  font-size: 1.8rem;
  width: 80%;
  margin: 5rem auto;
  padding: 4rem;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0 10px black, inset 0 0 1px white;

}
