.texts{
    /* position: absolute; */
    width: 40rem;
    padding: 2rem;
    text-align: start;
    backdrop-filter: blur(17px);
    border-radius: 7px;
    border: 1px solid #6c757d;
    background: linear-gradient(135deg, transparent, rgba(72, 149, 239, 0.3),  transparent), black;
    height: fit-content;
    gap: 1rem;
    z-index: 9;
   }
   .texts h2{
    color: white;
    font-weight: 100;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
   }